<h1><%= @lesson.name %></h1>

<p>Content: <%= @lesson.content %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit</a></p>
<p><a href="/lessons/<%= @lesson.id %>"
      data-confirm="YOU SURE?"
      data-method="delete"
      rel="nofollow">Delete</a></p>
<p><a href="/lessons">Return to lesson listing</a></p>
